@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

$back-color: #efeadd;
$font-color: #545c39;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
  color: $font-color;
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/backImg.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    @media (max-width: 768px) {
      background-image: url(../img/backImgRes2.png);
    }
  }
}

.navbar {
  position: fixed;
  width: 100vw;
  transition: all 0.5s;
  z-index: 1;
  color: $font-color;
}

.navbar-brand {
  color: $font-color;
  margin: 0 10em;
  &:hover {
    color: $font-color;
    opacity: 0.5;
  }
  @media (max-width: 768px) {
    margin: 0;
  }
}

.collapse {
  justify-content: flex-end;
  margin: 0 10em;
  &:hover {
    color: $font-color;
    opacity: 1;
  }
  @media (max-width: 768px) {
    margin: 0;
  }
}

.main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img {
  text-align: center;
  margin-bottom: 1em;
  img {
    width: 15%;
    border-radius: 100%;
  }
}

.main-text {
  // border: 1px solid red;
  text-align: center;
  font-weight: 500;
}

.scroll-icon {
  position: absolute;
  animation: scroll 1s infinite 4s;
  opacity: 0;
}

@keyframes scroll {
  0% {
    bottom: 8em;
    opacity: 1;
  }
  50% {
    bottom: 7em;
    opacity: 1;
  }
  100% {
    bottom: 8em;
    opacity: 1;
  }
}

.intro {
  opacity: 0;
}

@keyframes introFade {
  to {
    opacity: 1;
  }
}

.about,
.skills,
.project,
.contact {
  margin: auto;
  height: 100vh;
}

.section-title {
  margin: 2em 0 1em;
  // margin-top: 2em;
}

//--------------------------about
.about {
  // border: 1px solid red;
  h1 {
    text-align: center;
  }
}

.profile {
  text-align: center;
  img {
    width: 20%;
    border-radius: 100%;
  }
}

.info,
.info-link {
  display: flex;
  justify-content: center;
}

.info-content,
.info-link-item {
  text-align: center;
  padding: 0.5em 0;
  width: 15em;
  margin: 0.5em;
  background-color: $back-color;
  border-radius: 15px;
  h5 {
    margin-bottom: 1em;
  }
  img {
    width: 3em;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
      transform: scale(1.1);
    }
  }
}
